In [2]:
name = "Daniel"

In [3]:
print(name)

Daniel

In [4]:
type(name)

str

In [5]:
age = 0

In [7]:
type(age)

int

In [8]:
account_balance = 378.67

In [9]:
type(account_balance)

float

In [10]:
is_male = True

In [11]:
type(is_male)

bool

In [12]:
empty_val = None

In [13]:
type(empty_val)

NoneType

In [14]:
eomplex_num = 3j

In [15]:
type(eomplex_num)

complex

In [16]:
byte_val = b"643gyry89tj3nvneb]"

In [17]:
type(byte_val)

bytes

In [18]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [19]:
player_name, club, salary = "Ronaldo", "Man-Utd", 56327623.84372

In [20]:
print(player_name, club, salary)

Ronaldo Man-Utd 56327623.84372

In [21]:
x, y = 2, 5

In [23]:
print(f"X => {x}, Y => {y}")

X => 2, Y => 5

In [24]:
x

2

In [25]:
y

5

In [26]:
x, y = y, x

In [27]:
x

5

In [29]:
name = input("What is ur name[+] ")

What is ur name[+] gs

In [36]:
jamb_score = input("What is ur JAMB aggregate => ")
if int(jamb_score) >= 200:
    print("Congrats You have been offered admission!")
else:
    print("Oooops! Your aggregate is below cut-off point")

What is ur JAMB aggregate => 39
Oooops! Your aggregate is below cut-off point

### Operation, Operator, Operand

In [37]:
2 + 4

6

In [38]:
4 ** 2

16

In [39]:
4 * 2

8

In [40]:
3 > 10

False

In [41]:
"Hi " * 3

'Hi Hi Hi '

In [42]:
"daniel" + " obi"

'daniel obi'

In [43]:
"marcus" + 7

TypeError: can only concatenate str (not "int") to str

In [44]:
5 % 3

2

In [46]:
4 - 4

0

In [48]:
6 // 2

3

In [49]:
my_num = 3

In [50]:
my_num += 3 #my_num = my_num + 3

In [51]:
my_num

6

In [52]:
my_num //= 2

In [53]:
my_num

3

In [54]:
-5

-5

In [56]:
4 + (-5)

-1

In [58]:
4**(2 - 4) + 10

10.0625