## Day 2 - Sequence

##### Strings

In [1]:
my_city = "Jos"

In [2]:
print(my_city)

Jos

In [6]:
who_am_i = 'I\'m a boy'

In [4]:
who_am_i

"I'm a boy"

In [8]:
story = """
    the quick brown fox
    jumps over the lazy dog
"""

In [10]:
print(story)

    the quick brown fox
    jumps over the lazy dog

In [13]:
def add(x, y):
    """
        This function add two number together
    """
    return x + y

In [16]:
add.__doc__

'\n        This function add two number together\n    '

In [15]:
add(70, 13)

83

In [17]:
sister_name = "Evelyn"

In [19]:
greeting = f"Good Morning {sister_name}"

In [20]:
greeting

'Good Morning Evelyn'

In [23]:
calculation = f"We have {365//7} weeks in a year"

In [24]:
calculation

'We have 52 weeks in a year'

In [35]:
multi_line = r"First line \nSecond Line"

In [36]:
print(multi_line)

First line \nSecond Line

In [40]:
file_path = r"C:\nuhu\desktop"

In [41]:
print(file_path)

C:\nuhu\desktop

In [52]:
dir("")

student = "Williams and Al'amin"
len(student)
print(type(student))
student.center(50)
student.count('a')
"Al'amin" in student
len(student.split())

<class 'str'>

3

In [56]:
num_to_str = 7
print(type(num_to_str))
str_to_num = str(num_to_str)
print(type(str_to_num))

<class 'int'>
<class 'str'>

### List

In [59]:
my_classmates = ["Ajayi", "Basira", "Ugochukwu", "Mallo"]

print(type(my_classmates))
print(len(my_classmates))
print(my_classmates)

<class 'list'>
4
['Ajayi', 'Basira', 'Ugochukwu', 'Mallo']

In [61]:
empty_list = []
type(empty_list)

list

In [63]:
list_constr = list()
print(type(list_constr))

<class 'list'>

In [79]:
num_list = list([23, 1, 4, 7, 8, 2, 89, 22])
print(num_list[::-1])

[22, 89, 2, 8, 7, 4, 1, 23]

In [87]:
cities = ["tokyo", "hongkong", "berlin", "dubai", "london", "abuja", "cairo"]
cities.sort()
for city in cities:
    print(city.capitalize())

Abuja
Berlin
Cairo
Dubai
Hongkong
London
Tokyo

In [92]:
one_to_ten = range(1, 11)
print(one_to_ten)
print(list(one_to_ten))

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
cities.sort()
print(cities)

['abuja', 'berlin', 'cairo', 'dubai', 'hongkong', 'london', 'tokyo']

In [89]:
list_comprehension = [i for i in range(10)]
print(list_comprehension)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Tuple

In [93]:
bio_info = "Williams Olusegun", 12, "Male", "Ekiti", "SS1"
print(type(bio_info))
print(bio_info)

<class 'tuple'>
('Williams Olusegun', 12, 'Male', 'Ekiti', 'SS1')

In [96]:
bio_info[0] = "Marcus Dashe"

TypeError: 'tuple' object does not support item assignment

In [99]:
another_tuple = ("123.567.87.01", 80)
ip, _ = another_tuple

print(ip)
# print(port)

123.567.87.01

In [102]:
singleton_tuple = (2,)
type(singleton_tuple)

tuple

##### Set in Python

In [1]:
my_set = set()
print(type(my_set))

<class 'set'>

In [5]:
my_set2 = {2, 4,}
print(type(my_set2))
my_dict = {"latitude": 35.76, "longitude": 80.67}
print(type(my_dict))
print(my_dict["latitude"])

<class 'set'>
<class 'dict'>
35.76

In [6]:
contact = {"Daniel": "0804537281", "Williams": "09035563827", "Al'amin": "8492732728938922"}

In [9]:
contact["Al'amin"]

'8492732728938922'

In [10]:
contact.get("Marcus", "08034477604")

'08034477604'

In [12]:
contact.keys()
contact.values()

dict_values(['0804537281', '09035563827', '8492732728938922'])

In [13]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [21]:
import string

print(string.digits)

all_atm_pins = [f+s+t+ft for f in string.digits for s in string.digits for t in string.digits for ft in string.digits]
print(len(all_atm_pins))
print(all_atm_pins[:50])
"6739" in all_atm_pins

0123456789
10000
['0000', '0001', '0002', '0003', '0004', '0005', '0006', '0007', '0008', '0009', '0010', '0011', '0012', '0013', '0014', '0015', '0016', '0017', '0018', '0019', '0020', '0021', '0022', '0023', '0024', '0025', '0026', '0027', '0028', '0029', '0030', '0031', '0032', '0033', '0034', '0035', '0036', '0037', '0038', '0039', '0040', '0041', '0042', '0043', '0044', '0045', '0046', '0047', '0048', '0049']

True

In [17]:
"1"+"2"

'12'

### Flow Control in Python

In [27]:
# If statement

condition = 7

if condition == 7:
    print("Condition is greater than 5")

Condition is greater than 5

In [29]:
jamb_aggregate = input("What is your JAMB score -> ")

jamb_score_int = int(jamb_aggregate)

if jamb_score_int >= 200:
    print("Congrat you have been offerred admission...")
else:
    print("Ooops you should write JAMB again")

What is your JAMB score -> 240
Congrat you have been offerred admission...